#he{
    font-size: 50px;
    text-align: center;
    background-color: rgb(154, 195, 243);
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(127, 174, 235);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(109, 161, 230);
}
